<div>
    <!--Navbar-->
    <!-- <app-header></app-header> -->

    <!--UserProfile-->
    <div class="profile">
        <div class="user-info">
            <div class="topprofile">
                <img src="{{this.currentUser.avatarUrl}}" alt="Avatar" class="topprofile_avatar" />
                <div class="topprofile_right">
                    <p class="p_username">
                        {{ this.currentUser.name }}
                    </p>
                    <p class="p_role">Photographer</p>
                    <div class="hashtag">
                        <a class="hashtag_item" href="#">#animal </a>
                        <a class="hashtag_item" href="#">#potrait </a>
                        <a class="hashtag_item" href="#">#landscape </a>
                        <a class="hashtag_item" href="#">#natural </a>
                    </div>
                    <div class="rating">
                        <span class="material-icons rating_star"> star_rate </span>
                        <span class="material-icons rating_star"> star_rate </span>
                        <span class="material-icons rating_star"> star_rate </span>
                        <span class="material-icons rating_star"> star_rate </span>
                    </div>
                </div>
            </div>
            <div class="midprofile">
                <div class="personalinfo">
                    <p class="title">THÔNG TIN CÁ NHÂN</p>
                    <table class="tableinfo">
                        <tbody>
                            <tr>
                                <th data-field="Location">Vị trí :</th>
                                <td>{{this.currentUser.address}}</td>
                            </tr>
                            <tr>
                                <th data-field="Age">Tuổi :</th>
                                <td>{{this.currentUser.age}}</td>
                            </tr>
                            <tr>
                                <th data-field="Gender">Giới tính :</th>
                                <ng-container *ngIf="this.currentUser.gender === 'female'; else elseTemplate">
                                    <td>Nữ</td>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <td>Nam</td>
                                </ng-template>
                            </tr>
                            <tr>
                                <th data-field="PhoneNumber">SĐT :</th>
                                <td>{{this.currentUser.phone}}</td>
                            </tr>
                            <tr>
                                <th data-field="Email">Email :</th>
                                <td>{{this.currentUser.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="album">
                    <p class="title">CÁC ALBUM ĐÃ CHỤP</p>
                    <div class="albumslider">
                        <div class="container">
                            <img src="https://placekitten.com/120/120" />
                            <a href="dog.png" download="new-filename">
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                        </div>
                        <div class="container">
                            <img src="https://placekitten.com/120/120" />
                            <a>
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                        </div>
                        <div class="container">
                            <img src="https://placekitten.com/120/120" />
                            <a>
                                <i class="fa fa-picture-o fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-primary">
            LIÊN HỆ NGAY !
        </button>

        <div class="botprofile">
            <ul class="nav nav-tabs" id="botprofile_tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">All Photos</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="newsContainer">
                        <ul style="list-style-type: none; padding-inline-start: 0;">
                            <li *ngFor="let album of listAlbums">
                                <app-post [albumId]="album.id"></app-post>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container page-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let photo of this.listPhotos">
                                <a href="{{photo.url}}"
                                    class="fancybox" rel="ligthbox">
                                    <img src="{{photo.url}}"
                                        class="zoom img-fluid" alt="Underwater" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>