<!-- <app-header></app-header> -->

<div class="main-container">
  <div class="booking-container">
    <div class="calendar-view">
      <img src="../../../assets/working-image.png"
        alt="" srcset="">
      <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true" styleClass="calendar" (onSelect)="onSelectDay($event)"></p-calendar>
    </div>
    <div class="booking-view">
      <div class="booking-view-header">
        Booking List
      </div>
      <div class="booking-list">
        <div class="booking-row">
          <div class="booking">
            <div class="simple-card">
              <div class="simple-card-image">
                <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png" alt="photoshoot-img" />
              </div>
              <div class="simple-card-content">
                <h3 class="simple-card-title">PhotoShoot</h3>
                <p class="simple-card-desc">Photo Shoot for User ....</p>
                <div class="simple-card-line"></div>
              </div>
            </div>
          </div>
          <div class="booking">
            <div class="simple-card">
              <div class="simple-card-image">
                <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png" alt="photoshoot-img" />
              </div>
              <div class="simple-card-content">
                <h3 class="simple-card-title">PhotoShoot</h3>
                <p class="simple-card-desc">Photo Shoot for User ....</p>
                <div class="simple-card-line"></div>
              </div>
            </div>
          </div>
          <div class="booking">
            <div class="simple-card">
              <div class="simple-card-image">
                <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png" alt="photoshoot-img" />
              </div>
              <div class="simple-card-content">
                <h3 class="simple-card-title">PhotoShoot</h3>
                <p class="simple-card-desc">Photo Shoot for User ....</p>
                <div class="simple-card-line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="booking-row">
          <div class="booking">
            <div class="simple-card">
              <div class="simple-card-image">
                <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png" alt="photoshoot-img" />
              </div>
              <div class="simple-card-content">
                <h3 class="simple-card-title">PhotoShoot</h3>
                <p class="simple-card-desc">Photo Shoot for User ....</p>
                <div class="simple-card-line"></div>
              </div>
            </div>
          </div>
          <div class="booking">
            <div class="simple-card">
              <div class="simple-card-image">
                <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png" alt="photoshoot-img" />
              </div>
              <div class="simple-card-content">
                <h3 class="simple-card-title">PhotoShoot</h3>
                <p class="simple-card-desc">Photo Shoot for User ....</p>
                <div class="simple-card-line"></div>
              </div>
            </div>
          </div>
          <div class="booking">
            <div class="simple-card">
              <div class="simple-card-image">
                <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png" alt="photoshoot-img" />
              </div>
              <div class="simple-card-content">
                <h3 class="simple-card-title">PhotoShoot</h3>
                <p class="simple-card-desc">Photo Shoot for User ....</p>
                <div class="simple-card-line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>