.main-container {
  justify-items: center;
  align-items: center;
  width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  .booking-container {
    background-color: #f1f3f8;
    padding: 15px;

    .calendar-view {
      display: flex;
      gap: 10px;

      .calendar {
        span {
          height: 400px;
        }
      }
    }

    .booking-view {
      padding: 15px 15px;
      .booking-view-header {
        font-weight: 600;
        font-size: 2rem;
      }

      .booking-list {
        //gap: 20px;
        //display: flex;
        //flex-direction: column;
        width: 1000px;

        ul {
          display: inline;
          padding: 0;
          margin: 0;
          list-style-type: none;
          float: left;
          
          li {
            min-width: 300px;
            width: 30%;
            float: left;
            margin-right: 25px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
