.main-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  margin-bottom: 20px;
  margin-top: 70px;

  .chat-container {
    display: flex;
    width: 1000px;
    height: 750px;
    border: 1px solid #99a8b2;
    flex-shrink: 1;
    background-color: #f1f3f8;

    .contact-box {
      width: 350px;
      border-right: 1px solid #99a8b2;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      flex-grow: 1;

      .contact-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #99a8b2;
        height: 60px;
        padding: 0 20px;

        .header-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          flex-shrink: 0;

          .header-label {
            display: flex;
            flex-direction: column;
            text-align: center;
            vertical-align: middle;
            flex-grow: 1;
            flex-shrink: 0;
            font-size: 20px;
            font-weight: 700;
            padding-top: 5px;
          }
        }
      }
      .contact-user {
        padding-top: 10px;

        .user-card {
          flex: 0;
          justify-content: flex-start;
          height: 80px;
          align-items: center;
          flex-direction: column;

          .user-info {
            padding: 20px 20px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            .avatar {
              margin-right: 12px;

              img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
              }
            }
            .connect-info {
              flex: 1;

              .username {
                font-weight: 600;
              }

              .last-active {
                color: #9ba4b4;
              }
              p {
                margin-bottom: 0 !important;
              }
            }
          }
          .user-info:hover {
            opacity: 0.5;
            background-color: #ebebeb;
          }
        }
      }
    }

    .message-box {
      width: 100%;
      width: 650px;
      flex-grow: 3;
      display: flex;
      flex-direction: column;

      .message-header {
        height: 60px;
        border-bottom: 1px solid #99a8b2;

        .header-content {
          height: 60px;
          align-items: center;
          display: flex;
          padding: 0 30px;
          gap: 10px;

          .header-avatar {
            img {
              height: 32px;
              width: 32px;
              border-radius: 50%;
            }
          }

          .header-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 60px;
            font-size: 14px;
            justify-content: flex-start;
            padding-top: 10px;

            .username {
              font-weight: 700;
            }

            .last-active {
              color: #9ba4b4;
            }
            p {
              margin-bottom: 0px !important;
            }
          }
        }
      }
      .messages {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .messages-view {
          width: 100%;
          height: 100%;
          padding: 20px;
          border-bottom: 1px solid #99a8b2;
          .receiver-message {
            justify-content: flex-start;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .receive-message {
              display: flex;

              p {
                margin-bottom: 0 !important;
                border-radius: 10px;
                padding: 10px;
                background-color: #ebebeb;
              }
            }
          }

          .sender-message {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 10px;

            .send-message {
              display: flex;
              justify-content: flex-end;

              p {
                margin-bottom: 0 !important;
                border-radius: 10px;
                padding: 10px;
                background-color: #ebebeb;
              }
              p:hover {
                background-color: #ebebeb;
              }
            }

            // .send-message:hover{
            //   background-color: #ebebeb;
            // }
          }
        }

        .messages-input {
          flex: 0;
          padding: 20px;

          .form-container {
            border-radius: 22px;
            height: 44px;
            border: 1px solid #99a8b2;
            display: flex;
            flex-direction: row;
            padding: 0 10px;

            .message-input {
              flex-grow: 1;
              align-items: center;
              display: flex;

              textarea {
                border: none;
                background-color: transparent;
                resize: none;
                outline: none;
                flex-grow: 1;
              }
            }
            .submit-button {
              button {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
