<div class="booking">
  <div class="simple-card">
    <div class="simple-card-image">
      <img src="https://cdn.pixabay.com/photo/2020/11/06/05/33/woman-5716875_960_720.png"
        alt="photoshoot-img" />
    </div>
    <div class="simple-card-content">
      <h3 class="simple-card-title">Shoot for {{photoShoot.modelName}}</h3>
      <p class="simple-card-desc">Price: {{photoShoot.price}}</p>
      <p class="simple-card-desc">{{photoShoot.shootTime}}:00</p>
      <p class="shoot-status">{{photoShoot.status}}</p>
    </div>
  </div>
</div>