* {
  padding: 0;
  margin: 0;
}

.newsContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;

  ul {
    width: 1000px;
    padding-inline-start: none !important;
  }

  .loading-spinner {
    align-items: center;
  }

  .end-page {
    align-items: center;
    p {
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
      font-style: italic;
    }
  }
}
