.newsBox {
  background-color: #f1f3f8;
  padding: 3% 3% 2% 3%;
  width: 1000px;
  margin-bottom: 20px;
  margin-top: 40px;

  .new-post {
    gap: 20px;
    display: flex;
    .static-new-post {
      .avatar {
        vertical-align: baseline !important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .popup-hint {
        margin-left: 10px;
        width: 900px;
        height: 50px;
      }
    }
    .popup-container {
      .file-upload-form {
        width: 900px;

        textarea {
          width: 900px;
          height: 100px;
        }

        .album-info {
          display: flex;
          gap: 20px;
          margin-bottom: 10px;

          .album-title {
            flex-grow: 1;
            height: 50px;
          }

          .album-type ::ng-deep .p-dropdown {
            width: 12rem;
            height: 50px;
          }
        }
      }
    }
  }
}
