<div class="package" (click)="onSelectPackage()">
  <div class="package-inner">
    <h3>{{this.package.name}}</h3>
    <div class="package-info">
      <img src="../../../../../assets/timer.png" alt="" srcset="">
      <p>{{this.package.duration}} Hour Duration</p>
    </div>

    <div class="package-info">
      <img src="../../../../../assets/picture.png" alt="" srcset="">
      <p>{{this.package.editPhotos}}+ Edited Photos</p>
    </div>

    <div class="package-info">
      <img src="../../../../../assets/download.png" alt="" srcset="">
      <p>{{this.package.downloadPhotos}} Downloadable Photos</p>
    </div>

    <div class="package-info">
      <img src="../../../../../assets/money.png" alt="" srcset="">
      <p>{{this.priceFormat}} VNĐ</p>
    </div>
    
    <div class="submit-button">
      <input type="radio" name="" id="">
    </div>
  </div>
</div>