.newsBox {
  background-color: #f1f3f8;
  width: 1000px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px #bbb;

  .userPostInfo {
    padding-left: 3%;
    padding-top: 3%;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    #username,
    .userInfo {
      .username {
        padding-left: 15px;
        font-size: 20px;
        font-weight: 600;
        height: 25px;

        a {
          color: #393b44;
        }
      }

      #location {
        font-size: 12px;
        margin-left: 2%;
      }
      .user-location {
        padding-left: 15px;
        display: inline;
        font-weight: 600;
        width: 50px;
        white-space: nowrap;

        .iconLocation {
          font-size: 12px;
          height: auto;
          width: auto;
        }

        a {
          color: #8d93ab;
        }
      }
    }

    .booking {
      .booking-btn {
        outline: none;
        border: none;
        font-weight: 600;
        background-color: #ffa62b;
        border-radius: 2rem;
      }
    }

    .albumSlider {
      height: 500px !important;
      width: 1000px !important;
    }
  }
  .album-description {
    padding-left: 3%;
    margin-bottom: 10px;
    .description {
      margin-bottom: 0px !important;
    }

    .hashTag {
      font-size: 15px;
    }
  }
  .react {
    padding-top: 10px;

    .reactions {
      padding-left: 3%;
      padding-right: 3%;
      height: 40px;
      .reaction-items {
        display: inline-block;
        width: 40px;

        button {
          font-size: 1.5rem !important;
          outline: none !important;
        }

        button:focus {
          outline: 0 !important;
        }
      }
    }
    .likes {
      padding-left: 3%;
      padding-right: 3%;
      background-color: transparent;
      .likes-number {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }

  .review-view {
    border-top: 1px solid #cdc9c3;
    margin-top: 5px;
    padding-left: 3%;
    padding-right: 3%;
    .list-review {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0;

      .review {
        display: flex;
        align-items: center;

        .reviewer-avatar {
          vertical-align: middle;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .review-content {
          display: flex;
          flex-direction: column;

          .review-message {
            a {
              font-weight: 600;
              color: black;
            }
          }
        }
      }

      .spinner {
        text-align: center;
      }

      .more-review {
        span {
          .view-more-button {
            border: none;
            outline: none;
            background-color: transparent;
            font-weight: 600;
          }
        }
      }
    }
  }
  .new-comment {
    margin-top: 4px;
    padding-left: 3%;
    padding-right: 3%;
    border-top: 1px solid #cdc9c3;
    .comment-box {
      display: flex;
      flex-direction: row;
      align-items: center;

      .text-input {
        max-height: 80px;
        flex-direction: column;
        height: 40px;
        padding-top: 5px;
        text-align: start;
        border: none;
        outline: none;
        border-color: transparent;
        background: 0;
        flex-grow: 1;
        resize: none;
        box-shadow: none;
        -webkit-box-shadow: none;
      }
      .comment-button {
        border: 0;
        outline: none;
        background-color: transparent;
        color: #0278ae;
        height: 40px;
        font-weight: 600;
      }
    }
  }
  .likes {
    padding-left: 3%;
    padding-right: 3%;
  }
  .contact {
    margin-top: -22px;
  }
  // .comment-container {
  //   .comment-box {
  //     margin-top: 10px;
  //     height: 350px;
  //     .comment {
  //       padding: 10px 10px 0px 10px;
  //     }
  //   }

  //   .comment-input {
  //     margin-top: 10px;
  //   }
  // }

  .userAvatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
