.newsBox {
  background-color: #f1f3f8;
  //padding: 3% 3% 2% 3%;
  width: 1000px;
  margin-bottom: 20px;
  border-radius: 20px;

  .userPostInfo {
    padding: 3% 3% 2% 3%;
    #userName,
    .userName {
      font-size: 20px;
      height: 25px;
    }

    #location {
      font-size: 12px;
      margin-left: 2%;
    }

    .iconLocation {
      font-size: 12px;
      height: auto;
      width: auto;
    }
    .albumSlider {
      height: 500px !important;
      width: 1000px !important;
    }
  }
  .postDes {
    padding-left: 3%;
    .description {
      margin-bottom: 0px !important;
    }

    .hashTag {
      font-size: 15px;
    }
  }
  .react {
    .reactions {
      padding-left: 3%;
      padding-right: 3%;
      height: 40px;
      .reaction-items {
        display: inline-block;
        width: 40px;
      }
    }
    .likes{
      padding-left: 3%;
      padding-right: 3%;
      background-color: transparent;
      .likes-number{
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }
  .new-comment{
    margin-top: 4px;
    padding-left: 3%;
    padding-right: 3%;
    border-top: 1px solid #cdc9c3;
    .comment-box{
      .comment-form{
        display: flex;
        flex-direction: row;
        align-items: center;
        .text-input{
          max-height: 80px;
          flex-direction: column;
          height: 40px;
          padding-top: 5px;
          text-align: start;
          border: none;
          outline: none;
          border-color: transparent;
          background: 0;
          flex-grow: 1;
          resize: none;
          box-shadow: none;
          -webkit-box-shadow: none;
        }
        .comment-button{
          border: 0;
          outline: none;
          background-color: transparent;
          color: #0278ae;
          height: 40px;
          font-weight: 600;
        }
      }
    }
  }
  .likes {
    padding-left: 3%;
    padding-right: 3%;
  }
  .contact {
    margin-top: -22px;
  }
  // .comment-container {
  //   .comment-box {
  //     margin-top: 10px;
  //     height: 350px;
  //     .comment {
  //       padding: 10px 10px 0px 10px;
  //     }
  //   }

  //   .comment-input {
  //     margin-top: 10px;
  //   }
  // }

  .userAvatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
