<div class="newsBox">
  <div class="">
    <div class="">
      <div class="userPostInfo d-flex flex-row">
        <img src={{this.currentUser.avatar?.url}} alt="Avatar"
          class="userAvatar" />
        <div class="userInfo">
          <div class="username">
            <a href="#" id="userName">{{this.currentUser.name}}</a>
          </div>
          <div class="user-location">
            <mat-icon class="iconLocation">location_on</mat-icon>
            <a href="#" id="location"> {{this.currentUser.address}}</a>
          </div>
        </div>
      </div>
      <div class="album-description">
        <p class="description">{{this.album.title}}</p>
        <a class="hashTag" href="#">#{{this.album.albumType}}</a>
      </div>
      <div class="albumslider">
        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '1000px' }" [numVisible]="5" [showThumbnails]="false"
          [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [showIndicators]="true"
          [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.url" style="width: 100%; display: block" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img [src]="item.url" style="display: block" />
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <div class="react">
        <section class="reactions">
          <span class="reaction-items"><button pButton pRipple type="button" icon="pi pi-heart"
              class="p-button-rounded p-button-plain p-button-text p-button-lg"></button></span>
          <span class="reaction-items"><button pButton pRipple type="button" icon="pi pi-comments"
              class="p-button-rounded p-button-plain p-button-text p-button-lg"></button></span>
          <span class="reaction-items"><button pButton pRipple type="button" icon="pi pi-inbox"
              class="p-button-rounded p-button-plain p-button-text p-button-lg"></button></span>
        </section>
        <section class="likes">
          <div>
            <button class="likes-number"><span>10</span> likes</button>
          </div>
        </section>
      </div>
    </div>
    <section class="new-comment">
      <div class="comment-box">
        <form class="comment-form">
          <textarea aria-label="Thêm nhận xét" placeholder="Thêm nhận xét..." class="text-input" name="" cols=""
            rows="3"></textarea>
          <button class="comment-button">Đăng</button>
        </form>
      </div>
    </section>
  </div>
</div>