<div class="newsBox">
  <div class="">
    <div class="">
      <div class="userPostInfo d-flex flex-row">
        <img src={{this.photographer.avatar?.url}} alt="Avatar" class="userAvatar" />
        <div class="userInfo">
          <div class="username">
            <a [routerLink]="['/user', this.photographer.id]" id="userName">{{this.photographer.name}}</a>
          </div>
          <div class="user-location">
            <mat-icon class="iconLocation">location_on</mat-icon>
            <a [routerLink]="['/user', this.photographer.id]" id="location"> {{this.photographer.address}}</a>
          </div>
        </div>
      </div>
      <div class="album-description">
        <p class="description">{{this.album.title}}</p>
        <a class="hashTag" href="#">#{{this.album.albumType}}</a>
      </div>
      <div class="albumslider">
        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '1000px' }" [numVisible]="5" [showThumbnails]="false"
          [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [showIndicators]="true"
          [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.url" style="width: 100%; display: block" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img [src]="item.url" style="display: block" />
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <app-react-album [likesNumber]="this.album.likesNumber" [albumId]="this.albumId"
        (onLikeAlbum)="this.onLikeClick()" (onCommentAlbum)="this.onCommentClick()"></app-react-album>
    </div>
    <section class="review-view">
      <div class="list-review" *ngIf="!this.isNoReview">
        <div class="review" *ngFor="let review of this.reviews; let i=index">
          <app-review [review]=review></app-review>
        </div>
        <div class="spinner" *ngIf="isLoading">
          <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
        </div>
        <div [ngClass]="{'more-review': true, 'hide-more-review': true}">
          <span><button class="view-more-button" (click)="onViewMoreClick()">Xem thêm</button></span>
        </div>
      </div>
    </section>
    <section class="new-comment">
      <div class="comment-box">
        <textarea aria-label="Thêm nhận xét" placeholder="Thêm nhận xét..." class="text-input" #newCommentInput
          [(ngModel)]="this.reviewMessage" rows="3" (keydown.enter)="this.onEnterReview($event)"></textarea>
        <button class="comment-button">Đăng</button>
      </div>
    </section>
  </div>
</div>