.progress-bar {
    background-color: transparent;
    padding: 5px 10px;

    .progress-list {
      display: inline-block;
      margin: 0;
      padding: 5px;
      background-color: transparent;
      text-decoration: none;
      list-style-type: none;
      counter-reset: step;

      .progress-item {
        position: relative;
        display: flex;
        flex-direction: column;
        float: left;
        width: 33.33%;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          margin-bottom: 30px;
        }

        .step-num {
          margin-bottom: 0 !important;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 5px;
          background-color: #ffa45b;
          text-align: center;
          z-index: 2;
        }

        .finish-progress::after {
          content: "";
          position: absolute;
          background-color: transparent;
          height: 5px;
          width: 300px;
          left: 0;
          top: 145px;
          display: block;
          z-index: -1;
        }

        .in-progress::after {
          content: "";
          position: absolute;
          background-color: #ffa45b;
          height: 5px;
          width: 300px;
          left: 0;
          top: 145px;
          display: block;
          z-index: -1;
        }

        .step-name {
          color: #ffa45b;
          font-weight: 600;
        }
      }
    }
  }