<div class="confirmation-container">
  <div class="payment">
    <div class="payment-title">
      Payment Method
    </div>
    <hr>
    <div class="payment-method">
      <div class="payment-info">
        <label for="horder-name">Card Holder's Name</label>
        <input type="text" name="horder-name" id="horder-name">
      </div>
      <div class="payment-info">
        <label for="card-number">Card Number</label>
        <input type="number" name="card-number" id="card-number">
      </div>
      <div class="payment-info">
        <label for="expire-date">Expire Date</label>
        <input type="text" name="expire-date" id="expire-date">
      </div>
      <div class="payment-info">
        <label for="ccv-code">CCV Code</label>
        <input type="text" name="ccv-code" id="ccv-code">
      </div>
    </div>
  </div>
  <div class="shoot-recap">
    <div class="recap-title">Shoot Recap</div>
    <hr />
    <div class="shoot-detail">
      <div class="shoot-info">
        <p>Shoot Price</p>
        <p>500,000</p>
      </div>
      <div class="shoot-info">
        <p>Service Price</p>
        <p>200,000</p>
      </div>
      <div class="shoot-info">
        <p>VAT</p>
        <p>100,000</p>
      </div>
    </div>
    <hr />
    <div class="total">
      <p>Total</p>
      <p class="total-price">1,000,000</p>
    </div>
  </div>
</div>
