.confirmation-container {
  display: flex;
  gap: 20px;
  padding: 15px;

  .payment {
    flex-grow: 1;
    height: 500px;
    background-color: #cfd3ce;
    border-radius: 10px;
    padding: 10px 20px;

    .payment-title {
      font-size: 25px;
      font-weight: bold;
      color: #ee6f57;
    }
    .payment-method {
      display: flex;

      .payment-form {
        flex-grow: 1;

        .payment-info {
          display: flex;
          flex-direction: column;
          padding-top: 10px;

          label {
            margin-bottom: 0 !important;
            font-size: 20px;
            font-weight: 500;
          }
          input {
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid black;
          }

          .card-number {
            display: flex;

            input {
              flex-grow: 1;
            }
          }
        }
      }

      .payment-img {
        img {
          max-height: 350px;
          max-width: 300px;
        }
      }
    }

    .submit {
      display: flex;
      gap: 20px;
      justify-content: center;
      .submit-btn {
        text-align: center;
        margin-top: 30px;

        button {
          height: 50px;
          width: 200px;
          border-radius: 10px;
          outline: none;
          border: none;
          background-color: #ff8e71;
          img {
            height: 32px;
            width: 32px;
          }
          span {
            font-size: 20px;
            font-weight: 600;
          }
        }

        button:hover {
          transform: scale(1.05);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
        }
      }
    }
  }
  .shoot-recap {
    height: 100%;
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    background-color: #cfd3ce;
    border-radius: 10px;

    .recap-title {
      font-size: 25px;
      font-weight: bold;
      color: #ee6f57;
    }

    .shoot-detail {
      .shoot-info {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;

        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .shoot-detail::after {
      border: 1px solid black;
      z-index: 1;
    }

    .total {
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;

      .total-price {
        color: #ee6f57;
      }

      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
