.navbar {
  justify-content: space-between;
  background-color: #f1f3f8;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 2;
  display: flex;
  flex-direction: column;

  .nav-content {
    display: flex;
    width: 1000px;
    align-items: center;

    .nav-brand {
      font-size: 30px;
      color: black;
      text-decoration: none !important;
      flex-grow: 1;
    }

    .nav-form {
      height: 35px;
      width: 200px;
      background-color: #ebebeb;
      border: 1px solid #9ba4b4;
      border-radius: 5px;
      align-items: center;
      display: flex;
      gap: 10px;
      padding: 5px;

      img {
        height: 20px;
        width: 20px;
      }

      textarea {
        flex-grow: 1;
        height: 30px;
        border: none;
        resize: none;
        background-color: transparent;
      }

      textarea:focus {
        outline: none;
      }
    }

    // .nav-form:hover{
    //   justify-content: flex-start;
    // }

    .nav-buttons {
      display: flex;
      height: 40px;
      flex-direction: row;
      gap: 25px;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;

      .user-avatar > img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }

      .inbox-icon > a > img {
        height: 30px;
        width: 30px;
      }

      .notification-icon {
        position: relative;
        display: inline-block;

        button {
          border: none;
          outline: none;

          img {
            height: 30px;
            width: 30px;
          }
        }
        .noti-overlayer {
          display: fixed !important;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          z-index: 9999;
          
          .noti-popup {
            display: none;
            position: absolute;
            z-index: 100;
            min-width: 500px;
            min-height: 100px;
            background-color: #dbf6e9;
            border-radius: 20px;
          }

          .show {
            display: block;
          }
        }
      }

      .logout-icon > a > img {
        height: 30px;
        width: 30px;
      }
    }
  }
}
