<!--Navbar-->
<nav class="navbar">
  <div class="nav-content">
    <a class="nav-brand" href="/home">𝓹𝓱𝓸𝓽𝓸𝓜𝓮</a>
    <div class="nav-form">
      <img src="https://www.flaticon.com/svg/static/icons/svg/711/711319.svg" alt="" srcset="">
      <textarea name="" id="" cols="10" rows="10" placeholder="Tìm"></textarea>
    </div>

    <div class="nav-buttons" id="navbarSupportedContent">
      <div class="inbox-icon">
        <a href="/inbox"><img src="https://www.flaticon.com/svg/static/icons/svg/610/610413.svg" alt="" srcset=""></a>
      </div>
      <div class="notification-icon">
        <button (click)="this.showNotiPopup()"><span class="p-overlay-badge p-mr-5">
            <img src="https://www.flaticon.com/svg/static/icons/svg/1156/1156949.svg" alt="" srcset="">
            <span class="p-badge">2</span>
          </span>
        </button>
        <div class="noti-overlayer" *ngIf="this.isShowNoti" (click)="onClickOut()">
          <div *ngIf="isShowNoti" [ngClass]="{'noti-popup': true, 'show': isShowNoti}">
            <div class="noti-view">
              <div *ngFor="let noti of this.notiList; let i=index">
                <app-notification [noti]=noti></app-notification>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="booking-icon">
        <a [routerLink]="['/booking-list']"><span class="p-overlay-badge p-mr-5">
            <img src="https://www.flaticon.com/svg/static/icons/svg/3078/3078971.svg" alt="" srcset="">
            <span class="p-badge">2</span>
          </span></a>
      </div>
      <div class="user-avatar">
        <button class="drop-btn" (click)="onClickDropdown()"><img src="{{this.currentUser.avatar?.url}}" alt="Avatar"
            class="avatar" /></button>
        <div class="dropdown-overlay" *ngIf="this.isShowDropdown" (click)="this.onClickOutDropdown()">
          <div id="myDropdown" [ngClass]="{'dropdown-content': true, 'show': isShowDropdown}">
            <a [routerLink]="['/user', this.currentUser.id]" class="dropdown-item">
              <div class="item-content">
                <i class="pi pi-user" style="font-size: 1rem"></i>
                <span>Trang cá nhân</span>
              </div>
            </a>
            <a href="#" class="dropdown-item">
              <div class="item-content">
                <i class="pi pi-cog" style="font-size: 1rem"></i>
                <span>Cài đặt</span>
              </div>
            </a>
            <a href="#" class="dropdown-item" (onclick)="this.logOut()">
              <div class="item-content">
                <i class="pi pi-sign-out" style="font-size: 1rem"></i>
                <span>Đăng xuất</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>