<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container mx-auto">
    <a class="navbar-brand" href="/home">𝓹𝓱𝓸𝓽𝓸𝓜𝓮</a>
    <form class="search-form form-inline">
      <input
        id="searchBar"
        class="form-control"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>

    <div class="user-info mx-auto" id="navbarSupportedContent">
      <ul class="navbar-nav left-nav mr-auto">
        <button class="inbox btn"><i class="fa fa-inbox fa-2x"></i></button>
        <img
          src="https://static.toiimg.com/thumb/msid-67586673,width-800,height-600,resizemode-75,imgsize-3918697,pt-32,y_pad-40/67586673.jpg"
          alt="Avatar"
          class="avatar"
        />
        <li class="nav-item active">
          <a class="nav-link" href="user"
            >{{this.authService.decodedToken?.unique_name}} <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" (onclick)="this.logOut()"
            >Đăng xuất <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
