<!--Navbar-->
<nav class="navbar">
  <div class="nav-content">
    <a class="nav-brand" href="/home">𝓹𝓱𝓸𝓽𝓸𝓜𝓮</a>
    <div class="nav-form">
      <img src="https://www.flaticon.com/svg/static/icons/svg/711/711319.svg" alt="" srcset="">
      <textarea name="" id="" cols="10" rows="10" placeholder="Tìm"></textarea>
    </div>

    <div class="nav-buttons" id="navbarSupportedContent">
      <div class="inbox-icon">
        <a href="/inbox"><img src="https://www.flaticon.com/svg/static/icons/svg/812/812421.svg" alt="" srcset=""></a>
      </div>
      <div class="notification-icon">
        <button (click)="this.showNotiPopup()"><img src="https://www.flaticon.com/svg/static/icons/svg/860/860808.svg"
            alt="" srcset=""></button>
        <div class="noti-overlayer">
          <div *ngIf="isShowNoti" [ngClass]="{'noti-popup': true, 'show': isShowNoti, 'hidden': !isShowNoti}">
            <div class="noti-view">
              <div *ngFor="let noti of this.notiList; let i=index">
                <app-notification [noti] = noti></app-notification>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="logout-icon">
        <a href="#" (onclick)="this.logOut()"><img src="https://www.flaticon.com/svg/static/icons/svg/3596/3596149.svg"
            alt="" srcset=""></a>
      </div>
      <div class="user-avatar">
        <img src="{{this.currentUser.avatar?.url}}" alt="Avatar" class="avatar" />
      </div>
    </div>
  </div>
</nav>