.navbar {
  justify-content: space-between;
  background-color: #92b8df;
}

.container {
  width: 1000px;
}

.navbar-brand {
  font-size: 30px;
  /* padding-left: 10%; */
}

.nav-link {
  font-weight: bold;
}
.searchform {
}

#searchBar {
  width: 250px;
  margin-right: 5px;
}

#searchBar:focus {
  width: 250px;
}

.inbox {
  margin-right: 10px;
}

.leftnav {
  /* margin-right: 120px; */
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
