<div class="detail-container">
  <div class="detail">
    <form [formGroup]="detailForm" action=" " class="detail-info" (keydown)="onEnterSubmit($event)">
      <div class="info-title">
        <h3>Fill your shoot details</h3>
      </div>
      <div class="info-input">
        <label for="shoot-date">Date*</label>
        <input formControlName="shootDate" type="date" id="shoot-date" name="shoot-date" />
      </div>
      <div class="info-input">
        <label for="shoot-time">Shoot Time*</label>
        <select name="shoot-time" id="shoot-time" formControlName="shootTime">
          <option *ngFor="let time of timeOptions" value="{{ time.value }}">
            {{ time.name }}
          </option>
        </select>
      </div>
      <div class="info-input">
        <label for="meeting-place">Meeting Place*</label>
        <select name="meeting-place" id="meeting-place" formControlName="meetingPlace">
          <option *ngFor="let place of placeOptions" value="{{ place.value }}">
            {{ place.name }}
          </option>
        </select>
        <input type="text" name="place-detail" id="place-detail" formControlName="meetingPlaceDetail"
          placeholder="Location detail, e.g Landmark81" />
      </div>
      <div class="info-input">
        <label for="addtional-info">Additional Info*</label>
        <input formControlName="additionInfo" type="text" name="additional-info" id="additional-info"
          placeholder="Tell us more about your photoshoot, e.g: A family of 4 people." />
      </div>
      <div class="info-input">
        <label for="additional-service">Addittional Service*</label>
        <select name="additional-service" id="additional-service" formControlName="additionService">
          <option *ngFor="let time of placeOptions" value="{{ time.value }}">
            {{ time.name }}
          </option>
        </select>
      </div>

      <div class="detail-errors" *ngIf="this.isShowError">
        <label for="">Error</label>
      </div>
    </form>
    <div class="detail-temp-price">
      <h3 class="detail-title">You have to pay</h3>
      <h1 class="shoot-price">
        <span>{{ this.shootPrice }}</span> VNĐ
      </h1>
      <p>Enjoy all features and packs after you complete the payment.</p>
    </div>
  </div>
</div>