.detail-container {
  padding: 0 15px;

  .detail {
    display: flex;
    gap: 50px;
    .detail-info {
      flex-grow: 2;
      height: 100%;
      width: 100%;
      max-width: 600px;
      padding: 20px;
      border-radius: 20px;
      background-color: #cfd3ce;

      .info-title{
        font-weight: 600;
        color: #db6400;
      }

      .info-input {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;

        label {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 0 !important;
        }

        input {
          height: 50px;
          border-radius: 10px;
          border: 1px solid;
          outline: none;
          background-color: transparent;
        }

        select {
          height: 40px;
          border-radius: 10px;
          border: 1px solid;
          outline: none;
          background-color: transparent;
        }
      }
    }

    .detail-temp-price {
      width: 100%;
      max-width: 300px;
      border-radius: 20px;
      background-color: #db6400;
      padding: 20px;
      height: 100%;
      max-height: 400px;

      .detail-title{
        color: whitesmoke;
        font-weight: bold;
      }

      .shoot-price {
        size: 40px;
        font-weight: bold;
        color: whitesmoke;

        span {
          color: yellow;
        }
      }

      p {
        padding: 10px;
        background-color: whitesmoke;
        font-weight: 500;
        opacity: 0.3;
        border-radius: 20px;
      }
    }
  }
}
