<footer class="footer mt-3" style="align-items: center; justify-content: center;" >
  <div class="row" style="width: 1000px;">
    <div class="col-8">
      <nav class="flex-row">
        <ul class="list-inline mr-5">
          <li class="list-inline-item">ABOUT</li>
          <li class="list-inline-item">HELP</li>
          <li class="list-inline-item">API</li>
          <li class="list-inline-item">TERMS</li>
          <li class="list-inline-item">LOCATIONS</li>
        </ul>
      </nav>
    </div>
    <div class="col-4">
      <span class="">© 2020 photoMe from TT Team</span>
    </div>
  </div>
</footer>
