<div class="message-box">
  <div class="message-header">
    <div class="header-content">
      <div class="header-avatar">
        <img src="{{this.contactUser.avatarUrl}}" alt="" srcset="">
      </div>
      <div class="header-info">
        <p class="username">{{this.contactUser.name}}</p>
        <p class="last-active">{{this.contactUser.lastActive}}</p>
      </div>
      <button pButton pRipple type="button" icon="pi pi-info-circle"
        class="p-button-rounded p-button-text p-button-plain p-button-lg"></button>
    </div>
  </div>
  <div class="messages">
    <div class="messages-view">
      <div *ngFor="let messages of this.messageList">
        <app-message [messageType]="messages.messageType" [message]="messages.content"></app-message>
      </div>
    </div>
    <div class="messages-input">
      <div class="form-container">
        <button pButton pRipple type="button" icon="pi pi-images"
          class="p-button-rounded p-button-text p-button-plain p-button-lg"></button>
        <div class="message-input">
          <textarea [(ngModel)]="this.message" (ngModelChange)="this.onMessageChange()" cols="20" rows="10"
            style="height: 28px;" placeholder="{{this.insertMessageText}}"
            (keydown.enter)="this.onKeyDown($event)"></textarea>
        </div>
        <div class="submit-button">
          <ng-container *ngIf="this.isTexting; else elseTemplate">
            <button pButton pRipple type="button" label="Send" class="p-button-text"
              (click)="this.sendMessage()"></button>
          </ng-container>
          <ng-template #elseTemplate>
            <button pButton pRipple type="button" icon="pi pi-image"
              class="p-button-rounded p-button-text p-button-plain p-button-lg"></button>
            <button pButton pRipple type="button" icon="pi pi-heart"
              class="p-button-rounded p-button-text p-button-plain p-button-lg"></button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>