<div>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">𝓹𝓱𝓸𝓽𝓸𝓜𝓮</a>
    <form class="searchform form-inline">
      <input
        id="searchBar"
        class="form-control"
        type="search"
        placeholder="Tìm kiếm"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div class="navbar" id="navbarSupportedContent">
      <ul class="navbar-nav leftnav">
        <button class="inbox btn"><i class="fa fa-inbox fa-2x"></i></button>
        <img
          src="https://static.toiimg.com/thumb/msid-67586673,width-800,height-600,resizemode-75,imgsize-3918697,pt-32,y_pad-40/67586673.jpg"
          alt="Avatar"
          class="avatar"
        />
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >trungtruongpham <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Đăng xuất <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </nav>

  <!--UserProfile-->
  <div class="profile">
    <div class="topprofile">
      <img
        src="https://static.toiimg.com/thumb/msid-67586673,width-800,height-600,resizemode-75,imgsize-3918697,pt-32,y_pad-40/67586673.jpg"
        alt="Avatar"
        class="topprofile_avatar"
      />
      <div class="topprofile_right">
        <p class="p_username">Pham Trung Truong</p>
        <p class="p_role">Photographer</p>
        <div class="hashtag">
          <a class="hashtag_item" href="#">#animal </a>
          <a class="hashtag_item" href="#">#potrait </a>
          <a class="hashtag_item" href="#">#landscape </a>
          <a class="hashtag_item" href="#">#natural </a>
        </div>
        <div class="rating">
          <span class="material-icons rating_star"> star_rate </span>
          <span class="material-icons rating_star"> star_rate </span>
          <span class="material-icons rating_star"> star_rate </span>
          <span class="material-icons rating_star"> star_rate </span>
        </div>
      </div>
    </div>
    <div class="midprofile">
      <div class="personalinfo">
        <p class="title">THÔNG TIN CÁ NHÂN</p>
        <table class="tableinfo">
          <tbody>
            <tr>
              <th data-field="Location">Vị trí :</th>
              <td>Đà Lạt</td>
            </tr>
            <tr>
              <th data-field="Age">Tuổi :</th>
              <td>21</td>
            </tr>
            <tr>
              <th data-field="Gender">Giới tính :</th>
              <td>Nam</td>
            </tr>
            <tr>
              <th data-field="PhoneNumber">SĐT :</th>
              <td>123456789</td>
            </tr>
            <tr>
              <th data-field="Email">Email :</th>
              <td>trungtruongpham@gmail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="album">
        <p class="title">CÁC ALBUM ĐÃ CHỤP</p>
        <div class="albumslider">
          <div class="container">
            <img src="https://placekitten.com/120/120" />
            <a href="dog.png" download="new-filename">
              <i class="fa fa-picture-o fa-2x"></i>
            </a>
          </div>
          <div class="container">
            <img src="https://placekitten.com/120/120" />
            <a>
              <i class="fa fa-picture-o fa-2x"></i>
            </a>
          </div>
          <div class="container">
            <img src="https://placekitten.com/120/120" />
            <a>
              <i class="fa fa-picture-o fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary">
      LIÊN HỆ NGAY !
    </button>
    <div class="botprofile">
      <ul class="nav nav-tabs" id="botprofile_tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Post</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >All Photos</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
        <div class="newsContainer">
          <div class="newsBox">
            <div class="row">
              <div class="col-8">
                <div class="userPostInfo d-flex flex-row">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png"
                    alt="Avatar"
                    class="userAvatar"
                  />
                  <div class="userInfo">
                    <div class="userName col-12">
                      <a href="#" id="userName">Vu Minh Thang</a>
                      <button class="inbox btn">
                        <i class="fa fa-camera-retro"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <mat-icon class="iconLocation">location_on</mat-icon>
                      <a href="#" id="location"> Da Lat, Lam Dong, Viet Nam</a>
                      
                    </div>
                  </div>
                </div>
                <div class="postDes">
                  <p class="description">Chup meo ngu</p>
                  <a class="hashTag" href="#">#animal</a>
                </div>
                <div class="albumslider">
                  <mat-carousel
                    timings="250ms ease-in"
                    [autoplay]="true"
                    interval="5000"
                    color="accent"
                    maxWidth="800"
                    proportion="60"
                    slides="5"
                    [loop]="true"
                    [hideArrows]="false"
                    [hideIndicators]="true"
                    [useKeyboard]="true"
                    [useMouseWheel]="false"
                    orientation="ltr"
                  >
                    <mat-carousel-slide
                      #matCarouselSlide
                      *ngFor="let slide of slides; let i = index"
                      [image]="slide.image"
                      overlayColor="#00000040"
                      [hideOverlay]="true"
                    ></mat-carousel-slide>
                  </mat-carousel>
                </div>
                <div class="react">
                  <div class="row">
                    <mat-icon>thumb_up</mat-icon>
                    <a href="#" class="likes">256k likes</a>
                  </div>
                  <!-- <div class="contact d-flex flex-row-reverse">
                    <a href="#">Liên hệ</a>
                    <mat-icon>phone</mat-icon>
                  </div> -->
                </div>
              </div>
              <!-- <div class="commentContainer col-4">
                <h2>Đánh giá</h2>
                <div class="commentBox">
                  <div class="comment col">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png"
                      alt="Avatar"
                      class="userAvatar"
                    />
                    <a href="#" id="userName">Vu Minh Thang</a>
                    <p>Heelo fomfomas</p>
                  </div>
                  <div class="comment col">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png"
                      alt="Avatar"
                      class="userAvatar"
                    />
                    <a href="#" id="userName">Vu Minh Thang</a>
                    <p>Heelo fomfomas</p>
                  </div>
                  <div class="comment col">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/VAN_CAT.png/800px-VAN_CAT.png"
                      alt="Avatar"
                      class="userAvatar"
                    />
                    <a href="#" id="userName">Vu Minh Thang</a>
                    <p>Heelo fomfomas</p>
                  </div>
                </div>
                <div class="commentInput">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Bình luận ngay</label>
                      <input type="comment" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Viết gì đó ...">
                    </div>
                  </form>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <div class="container page-top">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    class="zoom img-fluid"
                    alt="Underwater"
                  />
                </a>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a
                  href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="fancybox"
                  rel="ligthbox"
                >
                  <img
                    src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="zoom img-fluid"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
