.navbar {
  justify-content: space-between;
  background-color: #92b8df;
  .navbar-brand {
    font-size: 30px;
    padding-left: 10%;
  }
  .nav-link {
    font-weight: bold;
  }
  .searchform {
    margin-left: 10%;
    #searchBar {
      width: 250px;
      margin-right: 5px;
      &:focus {
        width: 400px;
      }
    }
  }
  .leftnav {
    margin-right: 120px;
    .inbox {
      margin-right: 10px;
    }
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

.profile {
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin: 50px auto;
  .topprofile {
    display: flex;
    margin-left: 13%;
    padding-top: 20px;
    padding-bottom: 10px;
    .topprofile_avatar {
      vertical-align: middle;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
    }
    .topprofile_right {
      padding: 20px;
      .p_username {
        font-size: 35px;
        font-weight: 450;
      }
      .p_role {
        font-size: 20px;
        font-weight: 200;
      }
      .a_location {
        font-size: 20px;
      }
      .rating_star {
        color: rgb(240, 240, 26);
        font-size: 30px;
      }
    }
  }

  .midprofile {
    margin-left: 80px;
    margin-right: 80px;
    padding: 30px;
    display: flex;
    .title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 5px;
    }
    .personalinfo {
      margin-left: 40px;
      width: 410px;
      .personalinfo_inner {
        padding: 0px !important;
        margin-bottom: 5px !important;
      }
      .tableinfo {
        border-collapse: unset !important;
        width: 460px;
      }
    }
    .album {
      width: 460px;
      .albumslider {
        display: flex;
        .container {
          position: relative;
          img {
            display: block;
            border: solid white 8px;
            border-radius: 15px;
          }
          .fa-picture-o {
            position: absolute;
            top: 100px;
            left: 110px;
            color: white;
          }
        }
      }
    }
  }

  .btn-outline-primary {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    &:hover {
      transform: scale(1.1);
      transition: all 0.5s;
    }
  }

  .botprofile {
    justify-content: center;
    #botprofile_tab {
      justify-content: center;
      margin-top: 30px;
    }

    body {
      background-color: #1d1d1d !important;
      font-family: "Asap", sans-serif;
      color: #989898;
      margin: 10px;
      font-size: 16px;
    }

    #demo {
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .green {
      background-color: #6fb936;
    }
    .thumb {
      margin-bottom: 30px;
    }

    .page-top {
      margin-top: 85px;
      .img-detail {
        position: absolute;
        color: white;
        bottom: 8px;
        left: 25px;
        display: none;
      }
    }

    .fancybox {
      .zoom {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        object-fit: cover;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        &:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }

  }

  .newsContainer {
    justify-content: center;
    display: flex;
    padding-top: 50px;
    .newsBox {
      background-color: rgb(250 250 250);
      padding: 3% 3% 2% 3%;
      width: 1000px;
    }
    .userPostInfo {
      #userName,
      .userName {
        font-size: 20px;
        height: 25px;
      }

      #location {
        font-size: 12px;
        margin-left: 2%;
      }

      .iconLocation {
        font-size: 12px;
        height: auto;
        width: auto;
      }
      .postDes {
        margin-top: 15px;
        .description {
          margin-bottom: 0px !important;
        }

        .hashTag {
          font-size: 15px;
        }
      }
      .albumSlider {
        height: 200px;
      }
    }
    .react {
      margin-left: 15px;
    }
    .likes {
      margin-top: 2px;
      margin-left: 8px;
    }
    .contact {
      margin-top: -22px;
    }

    .commentBox {
      border: solid 1px grey;
      margin-top: 10px;
      height: 350px;
      .comment {
        padding: 10px 10px 0px 10px;
      }
    }
  }

  .userAvatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
