<div class="modal-dialog">
  <p-dialog header="{{this.header}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw', overflow: 'none'}"
    [transitionOptions]="'0ms'" [baseZIndex]="10000" [draggable]="false" [resizable]="false"
    [contentStyle]="{overflow: 'hidden'}" class="new-chat-dialog" (onHide)="this.onHideModal()">
    <div class="modal-body">
      <div class="username-input">
        <h5>{{this.sendTo}}</h5>
        <textarea placeholder="{{this.userInput}}" rows="1" [(ngModel)]="this.username"
          (ngModelChange)="this.searchUserContact()"></textarea>
      </div>
      <div class="user-list">
        <div *ngFor="let user of this.listUser; let i=index">
          <app-user-card [userId]="user.id" (onATagClick)="onSelectUser($event)"></app-user-card>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="this.onSubmitNewChatEvent()" label="Accept" styleClass="p-button-text">
      </p-button>
      <p-button icon="pi pi-times" (click)="displayModal=false" label="Cancel" styleClass="p-button-text p-button-danger">
      </p-button>
    </ng-template>
  </p-dialog>
</div>