.container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 0;
  background-color: #f1f3f8;
  padding-top: 10px;
  
  .direct-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;

    .previous-btn {
      padding: 5px;
      border: none;
      width: 100px;
      background-color: #ffa45b;
      border-radius: 5%;
      outline: none;
      
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
      }
    }

    .next-btn {
      padding: 5px;
      border: none;
      width: 100px;
      background-color: #ffa45b;
      border-radius: 5%;
      outline: none;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
      }
    }
  }
}
